.linkedListContainer {
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
}

.menuContainer {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
input {
  text-align: center;
  margin: 5px;
}

.navMenu {
  margin: 5px;
}

.navMenu > button {
  margin: 3px;
}
