.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.icon {
  align-self: center;
  justify-self: center;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  font-size: 60px;
}

.iconheader {
  display:flex;
  justify-content: center;
  align-items: center;
}



/**************************************************
CALCULATOR
***********************************************/
.calculator {
  margin-top: 20px;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(5, 40px);
  grid-row-gap: 3px;
  grid-template-areas:
  "header"
  "input1"
  "input2"
  "buttons"
  "answer";
}

.input1 {
  grid-area: input1;
  align-self: end;
  text-align: center;
}

.input2 {
  grid-area: input2;
  align-self: start;
  text-align: center;
}

.btn {
  grid-area: buttons;
  align-self: start;
  display: grid;
  grid-template-columns: repeat(4, 25px);
  grid-column-gap: 3px;
  align-items: center;
  justify-content: center;
}

/************************************
ACCOUNTS
*************************************/
.addAcctBtn {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.acctContainer {
  border: 1px solid black;
  border-radius: 4px;
  width: 30%;
  margin: 6px auto;
  padding-top: 0;

}
.accounts {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 45vh);
  grid-template-rows: repeat(4, 35px);
  grid-template-areas:
   "type delete"
   "title balance"
   "currency currency"
   "deposit withdraw";
  justify-content: center;
  align-items: center;
}

.accounts > .typeOfAccount {
  grid-area: type;
  justify-self: center;
}

.accounts > .deleteAcct {
  grid-area: delete;
  align-self: center;
  justify-self: end;

}

.accounts > .currBalanceTitle {
  margin: 0;
  grid-area: title;
  justify-self: end;
}

.accounts > .userBalance {
  grid-area: balance;
  justify-self: start;
}

.accounts > .userCurrency {
  grid-area: currency;
  justify-self: center;
  text-align: center;
}

.accounts > .acctBtnDep {
  grid-area: deposit;
  justify-self: center;

}

.accounts > .acctBtnWdrw {
  grid-area: withdraw;
  justify-self: center;

}

button {
  background: none;
  border-radius: 4px;
  font-family: inherit;
}
